body{
    background: grey;
}

#caller{
    position:relative;
    display: block;
    width: 10%;
    height: 20%;
    border: 4px solid black;
    border-radius: 55%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.caller:hover{
    cursor: pointer;
    background-color: yellowgreen;
    
}

#blinking-cursor{
    
}