<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PinG</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagges/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="heading">
        <h2>Welcome to PinG...<span id="blinking-cursor">_</span></h2>
        <h4><em>Communication has never been easier</em></h4>
    </div>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <div id="ping-ping">
        <input type="text" id="callings"></input>
        <input type="button" onclick="call()" value="call"></input>
        <input type="button" onclick="answerer()" value="Generate Call ID"></input>
        <audio controls></audio>
        <div id="peerid"></div>
    </div>


    <script>
        //The Blinking Cursor effect
        var cursor = true;
        var speed = 500;

        setInterval(() => {
            if (cursor) {
                document.getElementById('blinking-cursor').style.opacity = 0;
                cursor = false;
            } else {
                document.getElementById('blinking-cursor').style.opacity = 1;
                cursor = true;
            }
        }, speed);


        
var getUserMedia = (function () {
    if (navigator.getUserMedia) {
        return navigator.getUserMedia.bind(navigator)
    }
    if (navigator.webkitGetUserMedia) {
        return navigator.webkitGetUserMedia.bind(navigator)
    }
    if (navigator.mozGetUSerMedia) {
        return navigator.mozGetUSerMedia.bind(navigator)
    }

})();

function onRecieveStream(stream) {
    var audio = document.querySelector('audio');
    console.log(audio);
    //audio.src = window.URL.createObjectURL(stream);
    audio.srcObject = stream;
    audio.onloadedmetadata = function (e) {
        console.log('Now Playing the audio');
        audio.play();
    }
}

//The function to execute ping request

function call() {
    var person_to_call = document.getElementById('callings').value;
    console.log('PEER IS CALLING ==> ' + person_to_call);

    var peer = new Peer();
    getUserMedia({ video: false, audio: true }, function (stream) {
        var call = peer.call(person_to_call, stream);
        call.on('stream', function (remoteStream) {
            console.log(remoteStream);
            onRecieveStream(remoteStream);
            //This will show the stream in some canvas element.
        });
    }, function (err) {
        console.log('Failed to get local stream', err);
    });

}

// Peer response function: Generate id and send to the callr and wait for ping response

function answerer() {
    var peer = new Peer();
    peer.on('open', (id) => {
        document.getElementById('peerid').innerHTML = id;
    });
    peer.on('call', function (call) {
        getUserMedia({ video: false, audio: true }, function (stream) {
            console.log("PEER IS GETTING CALLED.");
            call.answer(stream); // Answer the call with an A/V stream.
            call.on('stream', function (remoteStream) {
                console.log(remoteStream)  // Show stream in some video/canvas element.
            });
        }, function (err) {
            console.log('Failed to get local stream', err);
        });
    });
}
        
    </script>

    
</body>

</html>